body#gallery {
  .tools-showcase {
    display: flex;
    align-items: center;
    background-color: $section-bgcolor;
    margin-bottom: 40px;
  }

  .tools-image {
    flex: 1;

    img {
      width: 100%;
    }
  }

  .tools-text {
    width: 50%;
    padding: 40px 80px;

    header {
      text-align: center;
      margin-bottom: 30px;
      color: $button-bgcolor;
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
  }

  .haircut-slideshow {
    position: relative;

    header {
      font-size: 1.3rem;
      letter-spacing: 2px;
      color: $button-bgcolor;
      text-align: center;

      h2 {
        font-weight: 400;
      }
    }

    .slide-panel {
      display: flex;
      align-items: center;
      overflow-x: hidden;
      height: 440px;
      @include easeOut300();

      img {
        position: relative;
        display: inline-block;
        height: 300px;
        border: 10px solid white;
        box-shadow: 0 0 5px 2px rgba(black, 0.5);
        @include easeOut300();

        &.active {
          position: relative;
          transform: scale(1.3);
          z-index: 1;
        }
      }
    }

    .slide-control {
      position: absolute;
      z-index: 2;
      padding: 0 10px;
      background-color: #ddd;
      opacity: 0.5;
      border: none;
      text-align: center;
      font-size: 4rem;
      outline: none;
      cursor: pointer;
      @include easeOut300();

      &::before {
        position: relative;
        top: -5px;
      }

      &:hover {
        opacity: 0.8;
      }

      &.left {
        left: 20px;

        &::before {
          content: '‹';
        }
      }

      &.right {
        right: 20px;

        &::before {
          content: '›';
        }
      }
    }
  }
}
